body{
    text-align: center;
    padding: 60px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #3c2b3b;
    color: #faebd1;
    font-size: 14pt;

}

a:link{
    color: black;
}

a:visited{
    color: lavender;
}

img{
    border: solid;
}

ul{
    margin: auto;
    width: 150px;
}

#JoeImg{
    width: 152px;
    height: 174px;
    
}

.contactLinks{
    padding: 15px;
}